<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Temáticas</h1>
    </div>
  </div>

  <div class="p-5">
      <table *ngIf="tematicas.length" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Referencia</th>
                <th>Categoría</th>
                <th>Subtemáticas</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let tematica of tematicas">
                <td>{{tematica.nombre}}</td>
                <td>{{tematica.referencia}}</td>
                <td>{{tematica.categoria}}</td>
                <td>{{tematica.subtematicas}}</td>
                <td><a class="btn btn-info mr-1 mb-1" id="boton-ver-tematica" (click)="ver()" routerLink="../{{tematica.id}}">Ver</a>
                    <a class="btn btn-primary mr-1 mb-1" id="boton-modificar-tematica" routerLink="../{{tematica.id}}">Modificar</a>
                    <button class="btn btn-warning mr-1 mb-1" *ngIf="tematica.activo" id="boton-baja-tematica" (click)="baja(tematica)">Baja</button>
                    <button class="btn btn-success mr-1 mb-1" *ngIf="!tematica.activo" id="boton-alta-tematica" (click)="alta(tematica)">Alta</button>
                    <button class="btn btn-danger mr-1 mb-1" *ngIf="tematica.eliminable" id="boton-eliminar-tematica" (click)="eliminar(tematica)">Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>

      <div class="alert alert-secondary" *ngIf="!tematicas.length">Todavía no hay temáticas dadas de alta.</div>
      <div class="float-right"><a class="btn btn-primary" id="boton-nueva-tematica" routerLink="../">Nuevo</a></div>
  </div>